<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>航班列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0,minimum-scale=0.33, maximum-scale=1.0, user-scalable=yes" name="viewport">
    <title>项目</title>
    <link type="text/css" rel="stylesheet" href="../Styles/css/style.css"/>

</head>
<body style="background: #eeedeb;">
<!--<div class="w_header">
	<p class="w_headerIcon w_backIcon"></p>
	选择购买地
</div>-->
<section id="y-titles" class="y-public y-header y-bg">
    <div class="y-container">
        <span class="y-back"></span>
        <h3 class="y-title">航班列表</h3>
    </div>
    
</section>
<p class="w_holder"></p>
<section class=" y-public y-search y-content y-bg2">
    <div class="y-container">
        <input id="y-search" placeholder="输入要搜索的地区" type="text"/><input id="y-btn" type="button"/>
    </div>
</section>
<section class="y-public y-bg2 h-mar">
    <div class="">
        <div id="h-time">
            <div id="h-date">
                <p class="h-start_date">2017-06-08</p>
                <p class="h-arrival_date">航班抵达日期：<span class="h-times">20170704</span></p>
            </div>
        </div>
        <div id="h-site">
            <div class="h-origins">
                <p class="h-qd">意大利</p>
                <p class="h-font2">始发站</p>
            </div>
            <p class="h-point"><img src="../Styles/images/h-point.png" alt="去向"/></p>
            <div class="h-end">
                <p>北京</p>
                <p class="h-font2">目的地</p>
            </div>
        </div>
    </div>
</section>
<section class="y-public y-bg2 h-mar">
    <div class="">
        <div id="h-time">
            <div id="h-date">
                <p class="h-start_date">2017-06-08</p>
                <p class="h-arrival_date">航班抵达日期：<span class="h-times">20170704</span></p>
            </div>
        </div>
        <div id="h-site">
            <div class="h-origins">
                <p class="h-qd">安塞德州</p>
                <p class="h-font2">始发站</p>
            </div>
            <p class="h-point"><img src="../Styles/images/h-point.png" alt="去向"/></p>
            <div class="h-end">
                <p>大理市</p>
                <p class="h-font2">目的地</p>
            </div>
        </div>
    </div>
</section>
<section class="y-public y-bg2 h-mar">
    <div class="">
        <div id="h-time">
            <div id="h-date">
                <p class="h-start_date">2017-06-08</p>
                <p class="h-arrival_date">航班抵达日期：<span class="h-times">20170704</span></p>
            </div>
        </div>
        <div id="h-site">
            <div class="h-origins">
                <p class="h-qd">加利福尼亚州</p>
                <p class="h-font2">始发站</p>
            </div>
            <p class="h-point"><img src="../Styles/images/h-point.png" alt="去向"/></p>
            <div class="h-end">
                <p>印第安纳州</p>
                <p class="h-font2">目的地</p>
            </div>
        </div>
    </div>
</section>
<section class="y-public y-bg2 h-mar">
    <div class="">
        <div id="h-time">
            <div id="h-date">
                <p class="h-start_date">2017-06-08</p>
                <p class="h-arrival_date">航班抵达日期：<span class="h-times">20170704</span></p>
            </div>
        </div>
        <div id="h-site">
            <div class="h-origins">
                <p class="h-qd">加利福尼亚州</p>
                <p class="h-font2">始发站</p>
            </div>
            <p class="h-point"><img src="../Styles/images/h-point.png" alt="去向"/></p>
            <div class="h-end">
                <p>印第安纳州</p>
                <p class="h-font2">目的地</p>
            </div>
        </div>
    </div>
</section>
<section class="y-public y-bg2 h-mar">
    <div class="">
        <div id="h-time">
            <div id="h-date">
                <p class="h-start_date">2017-06-08</p>
                <p class="h-arrival_date">航班抵达日期：<span class="h-times">20170704</span></p>
            </div>
        </div>
        <div id="h-site">
            <div class="h-origins">
                <p class="h-qd">加利福尼亚州</p>
                <p class="h-font2">始发站</p>
            </div>
            <p class="h-point"><img src="../Styles/images/h-point.png" alt="去向"/></p>
            <div class="h-end">
                <p>印第安纳州</p>
                <p class="h-font2">目的地</p>
            </div>
        </div>
    </div>
</section>

<script src="../Script/Libs/jquery.1.9.min.js"></script>
<script src="../Script/main.js"></script>
<script src="../Script/Controller/h-hlight-list.js"></script>
</body>
</html>