<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>我的收藏</title>
		<link rel="stylesheet" href="../Styles/css/style.css" />
	</head>
	<body>
		<div class="w_viewport w_bgcolor_a">
			<div class="w_header">
				<p class="w_headerIcon w_backIcon"></p>
				我的收藏
			</div>
			<p class="w_holder"></p>
			<ul class="w_bringlist w_collectlist">
				<!--列表元素开始-->
				<li>
					<div class="w_lititle">
						<dl>
							<dd>
								<img src="../Styles/images/centercardbg.jpg"/>
								<em>韩国泡菜不好吃</em>
							</dd>
							<dt>2017-06-08</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜</dt>
								<dd>
									<p>佣金<em>¥520</em></p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<!--列表元素结束-->
				<li>
					<div class="w_lititle">
						<dl>
							<dd>
								<img src="../Styles/images/centercardbg.jpg"/>
								<em>韩国泡菜不好吃</em>
							</dd>
							<dt>2017-06-08</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！</dt>
								<dd>
									<p>佣金<em>¥750</em></p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="w_lititle">
						<dl>
							<dd>
								<img src="../Styles/images/centercardbg.jpg"/>
								<em>韩国泡菜不好吃</em>
							</dd>
							<dt>2017-06-08</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！</dt>
								<dd>
									<p>佣金<em>¥666</em></p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="w_lititle">
						<dl>
							<dd>
								<img src="../Styles/images/centercardbg.jpg"/>
								<em>韩国泡菜不好吃</em>
							</dd>
							<dt>2017-06-08</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！</dt>
								<dd>
									<p>佣金<em>¥865</em></p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<script src="../Script/Libs/jquery.1.9.min.js"></script>
		<script src="../Script/main.js"></script>
		<script src="../Script/Controller/myCollection.js"></script>
	</body>
</html>
