<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name=”format-detection” content=”telephone=no” />
		<!--<script type="text/javascript" src="../js/controller/flexible.js"></script>-->
		<title>2017-07-11开会代购项目----关于我们</title>
		<link rel="stylesheet" type="text/css" href="./../Styles/css/style.css">
	</head>
	<body>
		<header>
			<div class="p_headerleft"><a href="javascript:;"><img src="../Styles/images/goback.png" alt=""></a></div>
			<h3>选择分类</h3>
		</header>
	
		<div class="p_information box" id="p_information">
			<ul class="p_infor_title box_center" id="p_infor_title">
			</ul>				
			<ul class="p_infor_cont box_center" id="p_infor_cont">
			</ul>
		</div>
		<!--右侧分类模板-->
		<script type="text/template" id="goods_list2">
			<li goods_id="%i" goods_name='%c' class="z_infor_tit_li">%c</li>
		</script>
		<!--左侧显示模板-->
		<script type="text/template" id="goods_list1">
			<li goods_id="%i" class="z_infor_tit_li">%c</li>
		</script>
		<script type="text/javascript" src="./../Script/Libs/jquery.1.9.min.js"></script>
		<script type="text/javascript" src="./../Script/main.js"></script>
		<script type="text/javascript" src="./../Script/Controller/p_information_release.js"></script>
	</body>
</html>
