<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>发布记录</title>
		<link rel="stylesheet" href="../Styles/css/style.css" />
	</head>
	<body>
		<div class="w_viewport w_bgcolor_a">
			<div class="w_header">
				<p class="w_headerIcon w_backIcon"></p>
				发布记录
			</div>
			<p class="w_holder"></p>
			<ul class="w_bringlist">
				<!--竞标状态li类名：竞标失败.w_infoErr,正在竞标中.w_infoIng,竞标成功.w_infoSucc,交易完成.w_infoComple-->
				<!--列表元素开始-->
				<li class="w_infoErr">
					<div class="w_lititle">
						<dl>
							<dd>
								竞标人数：<var>20</var>人
							</dd>
							<dt class="w_stateinfo">未成功</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜</dt>
								<dd>
									<p>2017-06-08</p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<!--列表元素结束-->
				<li class="w_infoIng">
					<div class="w_lititle">
						<dl>
							<dd>
								竞标人数：<var>16</var>人
							</dd>
							<dt class="w_stateinfo">正在竞标中</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！需要包装完好，要不发霉的！</dt>
								<dd>
									<p>2017-06-08</p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="w_infoComple">
					<div class="w_lititle">
						<dl>
							<dd>
								竞标人数：<var>8</var>人
							</dd>
							<dt class="w_stateinfo">交易完成</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！</dt>
								<dd>
									<p>2017-06-08</p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
				<li class="w_infoSucc">
					<div class="w_lititle">
						<dl>
							<dd>
								竞标人数：<var>108</var>人
							</dd>
							<dt class="w_stateinfo">竞标成功</dt>
						</dl>
					</div>
					<div class="w_licon">
						<div class="w_licon_con">
							<img src="../Styles/images/centercardbg.jpg" alt="" />
							<dl>
								<dt>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉的！</dt>
								<dd>
									<p>2017-06-08</p>
									<span class="w_delicon"></span>
								</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<script src="../Script/Libs/jquery.1.9.min.js"></script>
		<script src="../Script/main.js"></script>
		<script src="../Script/Controller/publicationRecord.js"></script>
	</body>
</html>
