<!DOCTYPE html>
<html style="height: 100%;">
	<head >
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>发布详情</title>
		<link href="../Styles/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="height: 100%;">
		<div class="z_wrap z_flex z_flex-v">
		    <div class="z_header"><h3><img src="../Styles/images/goback.png"  class="z_return"/>发布详情</h3></div>
		    <div class="z_main z_flex-1 z_main_release">
		    	<div class="z_release_div1">
		    		<h3><span class="z_goods_details">物品详情</span><span class='z_green_span'>正在竞标中</span></h3>
		    		<div class="z_runfor_goods">
		    			<dl>
		    				<dd class="z_left"><img src="../Styles/images/egg1.png"/></dd>
		    				<dt class="z_left">
		    					<p>求购一坛82年韩国思密达泡菜，需要包装完
好，要不发霉的！</p>
								<p><span class="z_country">英国</span><span class="z_country">美国</span><span class="z_country">加拿大</span></p>
								<p><span class="z_red">￥<span class="z_price_1">350</span></span><span>物品价格：</span><span class="z_red">￥1230</span></p>
		    				</dt>
		    				<div style="clear: both;"></div>
		    			</dl>
		    			
		    		</div>
		    		<p class="z_close"><span class="z_close_demand">关闭需求</span></p>
		    	</div>
		    	<div class="z_release_div2 z_release_div1">
		    		<h3><span class="z_goods_details">竞标用户&nbsp;&nbsp;20</span></h3>
		    	</div>
		      	<div id="z_runfor_list">
		      		<div class="z_runfor_list">
		      			<p class="z_runfor_p"><span class="z_width_span"><span><img src="../Styles/images/egg1.png" class="z_yuan"/>&nbsp;&nbsp;泡菜可香了</span></span><img src="../Styles/images/z_aircraft1.png" class="z_aircraft"/>到达日期：<span>2017/07/30</span></p>
		      			<p><span class="z_width_span">航班始发地：<span>韩国</span></span>目的地：<span>中国</span></p>
		      			<p><span class="z_width_span">物品价格：<span class="z_red">￥1200</span></span>佣金：<span class="z_red">￥200</span></p>
		      			<p>备注：我后天就回国，很快带回去</p>
		      		</div>
		      		<div class="z_runfor_list">
		      			<p class="z_runfor_p"><span class="z_width_span"><span><img src="../Styles/images/egg1.png" class="z_yuan"/>&nbsp;&nbsp;泡菜可香了</span></span><img src="../Styles/images/z_aircraft1.png" class="z_aircraft"/>到达日期：<span>2017/07/30</span></p>
		      			<p><span class="z_width_span">航班始发地：<span>韩国</span></span>目的地：<span>中国</span></p>
		      			<p><span class="z_width_span">物品价格：<span class="z_red">￥1200</span></span>佣金：<span class="z_red">￥200</span></p>
		      			<p>备注：我后天就回国，很快带回去</p>
		      		</div>
		      		<div class="z_runfor_list">
		      			<p class="z_runfor_p"><span class="z_width_span"><span><img src="../Styles/images/egg1.png" class="z_yuan"/>&nbsp;&nbsp;泡菜可香了</span></span><img src="../Styles/images/z_aircraft1.png" class="z_aircraft"/>到达日期：<span>2017/07/30</span></p>
		      			<p><span class="z_width_span">航班始发地：<span>韩国</span></span>目的地：<span>中国</span></p>
		      			<p><span class="z_width_span">物品价格：<span class="z_red">￥1200</span></span>佣金：<span class="z_red">￥200</span></p>
		      			<p>备注：我后天就回国，很快带回去</p>
		      		</div>
		      	</div>
		      		<div id="z_runfor_list1" style="display: none;">
		      		<div class="z_runfor_list">
		      			<p class="z_runfor_p"><span class="z_width_span"><span><img src="../Styles/images/egg1.png" class="z_yuan"/>&nbsp;&nbsp;泡菜可香了</span></span><img src="../Styles/images/z_aircraft1.png" class="z_aircraft"/>到达日期：<span>2017/07/30</span></p>
		      			<p><span class="z_width_span">航班始发地：<span>韩国</span></span>目的地：<span>中国</span></p>
		      			<p><span class="z_width_span">物品价格：<span class="z_red">￥1200</span></span>佣金：<span class="z_red">￥200</span></p>
		      			<p>备注：我后天就回国，很快带回去</p>
		      			<input type="checkbox" class="z_input_check"/>
		      			<img src="../Styles/images/z_weiyuan.png" class="z_weixuan"/>
		      			<img src="../Styles/images/z_xuanzhong.png" class="z_xuanzhong" style="display: none;"/>
		      		</div>
		      	
		      	</div>
		    </div>
		    <div class="z_footer">
		    	<button class="z_btn_choice">选择代购</button>
		    </div>
		    
		</div>
		<!--遮罩层-->
		<div class="z_div_black" style="display: none;">
			<img src="../Styles/images/z_transaction.png"/>
			<p>确认提交后，</p>
			<p>交易将由双方进行！</p>
			<p><span class="z_yes">好的</span><span class="z_no">取消</span></p>
		</div>
		<div class="z_div_black z_div_black1" style="display: none;">
			<img src="../Styles/images/z_close.png"/>
			<p>确认要忍痛割爱吗？</p>
			<p><span class="z_yes_1">确认</span><span class="z_no_1">点错了</span></p>
		</div>
	<script src="../Script/Libs/jquery.1.9.min.js"></script>
	<script src="../Script/main.js"></script>
	<script src="../Script/Controller/release_details.js"></script>
	</body>
</html>
