<!DOCTYPE html>
<html style="height: 100%;">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>交易详情</title>
		<link href="../Styles/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body style="height: 100%;">
		<div class="z_wrap z_flex z_flex-v">
		    <div class="z_header"><h3><img src="../Styles/images/goback.png"  class="z_return"/>交易详情</h3></div>
		    <div class="z_main z_flex-1">
		    	<p>求购一坛82年韩国思密达泡菜，需要包装完好，要不发霉
的，最好是能吃的！</p>
				<p><span class="z_red">￥<span class="z_price_1">350</span></span><span>物品价格：</span><span class="z_red">￥1230</span><span class="z_right">2017-06-08</span></p>
		        <div class="z_picture">
		        	<div class="z_picture_1" style="display: none;">
		        		<img src="../Styles/images/egg1.png"/>
		        	</div>
		        	<div class="z_picture_2" style="display: none;">
		        		<img class="z_trans_img1" src="../Styles/images/egg1.png"/>
		        		<img src="../Styles/images/egg1.png"/>
		        	</div>
		        	<div class="z_picture_3" style="display: none;">
		        		<img  src="../Styles/images/egg1.png"/>
		        		<img class="z_trans_img2" src="../Styles/images/egg1.png"/>
		        		<img src="../Styles/images/egg1.png"/>
		        	</div>
		        	<div class="z_picture_4" style="display: none;">
		        		<div class="z_picture5_2" style="margin-bottom: 9px;">
			        		<img class="z_trans_img1" src="../Styles/images/egg1.png"/>
			        		<img src="../Styles/images/egg1.png"/>
			        	</div>
			        	<div class="z_picture5_2">
			        		<img class="z_trans_img1" src="../Styles/images/egg1.png"/>
			        		<img src="../Styles/images/egg1.png"/>
			        	</div>
		        	</div>
		        	<div class="z_picture_5">
		        		<div class="z_picture5_2" style="margin-bottom: 9px;">
			        		<img class="z_trans_img1" src="../Styles/images/egg1.png"/>
			        		<img src="../Styles/images/egg1.png"/>
			        	</div>
			        	<div class="z_picture5_3" >
			        		<img  src="../Styles/images/egg1.png"/>
			        		<img class="z_trans_img2" src="../Styles/images/egg1.png"/>
			        		<img src="../Styles/images/egg1.png"/>
			        	</div>
		        	</div>
		        </div>
		        <p class="z_trans_p1">由于对泡菜收藏十分感兴趣，先求购韩国本地泡菜一坛，也可多坛，佣金视泡菜的品质而定，最低200元，有感兴趣的朋友可以踊跃竞标。</p>
		        <p><span>购买地：</span><span class="z_country">英国</span><span class="z_country">美国</span><span class="z_country">加拿大</span>&nbsp;&nbsp;&nbsp;<span>送达地：</span><span class="z_country">北京</span></p>
		        <p><span>邮箱：</span><span>122334766@qq.com</span></p>
		      
		    </div>
		    <div class="z_footer">
		    	<button>交易完成</button>
		    </div>
		</div>
	
	<script src="../Script/Libs/jquery.1.9.min.js"></script>
	<script src="../Script/main.js"></script>
	<!--<script src="../Script/Libs/rem.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="../Script/Controller/transaction_details.js"></script>
	</body>
</html>
